.bg-coffee-index, .bg-coffee-products {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
}

.bg-coffee-index {
    background-image: url("/pictures/Coffee_index.png");
}

.bg-coffee-products {
    background-image: url("/pictures/Coffee_Products.png");
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    
}

.font-weight-800 {
    font-weight: 800;
}
h2 {
    font-size:3em;
}

.border-2px-brown {
    border: 2px solid rgba(100, 57, 1, 0.993);
}
.border-4px-brown {
    border: 4px solid rgba(100, 57, 1, 0.993);
}

.border-4px-blue {
    border: solid 8px #212529;
}

.bg-lightbrown {
    background-color: rgb(88, 51, 2);
}

.bg-darkbrown {
    background-color: rgb(70, 39, 0);
}


@media (max-width: 768px) {
    body {
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .bg-darkbrown {
        padding:auto;
        margin: auto;
        max-width: fit-content;
    }

    .bg-dark {
        padding:auto;
        margin:auto;
        width: fit-content;
    }

   

}